[user]
	useConfigOnly = true
[include]
	path = ~/.gitconfig.local
[includeIf "gitdir:~/Repos/work/"]
    path = ~/Repos/work/.gitconfig
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[pull]
	rebase = true
[rerere]
	enabled = true
